.form {
	margin: 1rem 0;
	height: 19rem;
	overflow: auto;

	.control {
		margin-bottom: 0.5rem;
		label {
			font-weight: bold;
			margin-bottom: 0.25rem;
			display: block;
		}

		input {
			font: inherit;
			border: 1px solid #ccc;
			border-radius: 4px;
			width: 20rem;
			max-width: 100%;
		}
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		gap: 1rem;

		button {
			margin-left: 1rem;
			padding: 0.5rem 1.5rem;
			border: 2px solid #eaba6b;
			border-radius: 30px;
			color: #000;
			font-weight: 700 !important;
			text-decoration: none;
			background-color: #eaba6b;
			text-align: center;
			font: inherit;
			cursor: pointer;

			&:hover,
			&:active,
			&:focus {
				color: #eaba6b;
				border-color: #eaba6b;
				background-color: #0075a2;
				outline-color: #eaba6b;
			}

			&:focus {
				outline: 2px solid webkit-focus-ring-color;
				outline-offset: -2px;
			}
		}

		.button--alt {
			background-color: transparent;
			border: 2px solid #0075a2;
		}
	}
}

.invalid label {
	color: #ca3e51;
}

.invalid input {
	border-color: #aa0b20;
	background-color: #ffeff1;
}
