.button {
	cursor: pointer;
	font: inherit;
	border: none;
	padding: 0.75rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 25px;
	border: 2px solid #eaba6b;
	color: #000;
	font-weight: 700 !important;
	background-color: #eaba6b;
	font: inherit;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		color: #eaba6b;
		border-color: #eaba6b;
		background-color: #0075a2;
		outline-color: #eaba6b;

		.badge,
		.badge {
			background-color: #eaba6b;
			color: #000;
		}
	}

	&:focus {
		outline: 2px solid webkit-focus-ring-color;
		outline-offset: -2px;
	}

	.icon {
		width: 1.35rem;
		height: 1.35rem;
		margin-right: 0.5rem;
	}

	.badge {
		padding: 0.25rem 1rem;
		margin-left: 1rem;
		color: #fff;
		border-radius: 25px;
		font-weight: bold;
		background-color: #0075a2;
	}
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
